In [5]:
unlike_partA = ['C1','C2','C3','C4','C5','R1','R2']
if 'adads_C'.split('_').pop() in unlike_partA:
    print( 'A')
else:
    print( 'B')

B

In [7]:
import pandas as pd
data = {'Site':['x', x', 'Wiki'], 'Age':[10, 12, 13]}
df = pd.DataFrame(data)
df

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13